* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    background-color: #f3e9e2;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    padding: 30px 10vh;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.title span {
    font-size: 20px;
    margin: 0 12px;
    color: #333;
    text-decoration: none;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.item {
    border: solid 2px #c2c2c2;
    border-radius: 10px;
    padding: 8px 16px;
    background-color: #f7f6f3;
    display: inline-block;
    cursor: pointer;
}

.item a {
    color: #222;
    text-decoration: none;
}

.item:hover {
    background-color: #eeede9;
    border-color: #a8a8a8;
}

/* Sub-list styles */

.sub-list {
    display: none;
}

.sub-list-open {
    display: block;
}

/* img */

.img-item {
    padding: 8px;
}

.img-item img {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    object-fit: cover;
    overflow: hidden;
}

.img-item .avatar-img {
    width: 150px;
    height: 150px;
}